.address {
  color: rgb(237, 155, 96);
}

.time {
  color: rgb(153, 153, 153);
}

.no-data {
  height: 200px;
  line-height: 200px;
}

.field-container {
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
